<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#artigo}}{{title}}{{/artigo}}</title>
</head>
<body>
    {{#artigo}}
    <p>{{title}}</p>
    <p>{{content}}</p>
    <p>{{date}}</p>
    <p>{{author}}</p>
    {{/artigo}}
</body>
</html>